{% extends "shop/base.html" %}
{% load static %}
{% block title %}
Tu carrito
{% endblock %}
{% block content %}
<h1 class="text-white bg-dark text-center">Tu carrito</h1>
<table class="cart">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Quitar</th>
            <th>Precio c/u</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart %}
        {% with product=item.product %}
        <tr>
            <td>
                <a href="{{ product.get_absolute_url }}">
                    <img src="{% if product.image %}{{ product.image.url }}
                    {% else %}{% static "img/no_image.png" %}{% endif %}">
                </a>
            </td>
            <td>{{ product.name }}</td>
            <td><form action="{% url "cart:cart_add" product.id %}" method="post">
                    {{item.update_quantity_form.quantity}}
                    {{item.update_quantity_form.override}}
                    <input type="submit" value="Actualizar">
                    {% csrf_token %}
                </form>
            </td>
            <td>
                <form action="{% url 'cart:cart_remove' product.id %}" method="post">
                    <input type="submit" value="Quitar">
                    {% csrf_token %}
                </form>
            </td>
            <td class="num">${{ item.price }}</td>
            <td class="num">${{ item.total_price }}</td>
        </tr>
        {% endwith %}
        {% endfor %}
        <tr class="total">
            <td colspan="4"></td>
            <td class="num">${{ cart.get_total_price }}</td>
        </tr>
    </tbody>
</table>
<p class="text-right">
    <a href="{% url "shop:product_list" %}" class="button
    light">Seguir comprando</a>
    <a href="{% url "orders:order_create" %}" class="button">Comprar</a>
</p>


{% endblock %}