{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    {{ product.name }}
{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" class="img-fluid" alt="{{ product.name }}">
        </div>
        <div class="col-lg-6">
            <h1>{{ product.name }}</h1>
            <h2 class="text-muted">{{ product.category }}</h2>
            <p class="lead">${{ product.price }}</p>
            <form action="{% url 'cart:cart_add' product.id %}" method="post">
                {{ cart_product_form }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Añadir al carro</button>
            </form>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-12">
            <h3>Descripción del Producto</h3>
            <p>{{ product.description|linebreaks }}</p>
        </div>
    </div>
</div>

{% endblock %}
